{% extends "layout.html" %}

{% block title %}
   Standard Play
{% endblock %}

{% block main %}
<!-- Frontend adapted from https://github.com/exoticorn/stockfish-js -->
<div class="row">

    <div class="col">
      <span class="h3" style="text-align: center; vertical-align: middle;" id="time1">0:05:00</span>
      <div id="board" style="width: 400px"></div>
      <span class="h3" id="time2">0:05:00</span>
      <hr>
      <div id="engineStatus">...</div>
    </div>

    <div class="col-sm-5 col-md-6">
        <h3>Moves:</h3>
        <div id="pgn"></div>
        
        <hr>
        <form class="form-horizontal">

            <div class="form-group">
                <label for="timeBase" class="text-align">Base time (min)</label>
                <div class="3">
                    <input type="number" class="form-control" style="text-align:center" style="width: 100px" id="timeBase" value="5"></input>
                </div>
            </div>

            <div class="form-group">
                <label for="timeInc" class="3">Increment (sec)</label>
                <div class="3">
                    <input type="number" class="form-control" style="text-align:center" style="width: 100px" id="timeInc" value="2"></input>
                </div>
            </div>

            <div class="form-group">
                <label for="skillLevel" class="control-label col-xs-4 col-sm-6 col-md-4">Skill Level (0-20)</label>
                <div class="3">
                    <input type="number" class="form-control" style="text-align:center" style="width: 100px" id="skillLevel" value="20"></input>
                </div>
            </div>

        <div class="form-group">
          <label for="color" class="control-label col-xs-4 col-sm-6 col-md-4">You Play</label>
          <div class="3">
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-primary active" id="color-white"><input type="radio" name="color">White</label>
              <label class="btn btn-primary" id="color-black"><input type="radio" name="color">Black</label>
            </div>
          </div>
        </div>
        
        <div class="form-group center">
          <label for="color" class="control-label col-xs-4 col-sm-6 col-md-4"></label>
          <div class="3">
            <button type="button" class="btn btn-primary" onclick="newGame()">New Game</button>
          </div>

          <div class="form-group center">
            <label for="color" class="control-label col-xs-4 col-sm-6 col-md-4"></label>
            <div class="3">
          <!-- <button action="/test/pgnExport" method="post">
            <button id="pgnexport" class="btn btn-primary" type="submit" style="width: 400px">End Game</button> -->

            <div class="3">
                      <input type="submit" formaction="/pgnexport" formmethod="post" class="btn btn-secondary" onClick="pgncontent()" name="pgnexport" id=pgnexport Value="End Game" style="width: 100px">              </form>
          </div>

            



  <script src="{{ url_for('static', filename='enginegame.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/stockfish.js/10.0.2/stockfish.js" integrity="sha512-pozZFzL769pqpikSBj51MSntgI9zZYOpmH2EPlr9H2cYUQC8AG5IQkRAkBWZseEab7mjeYnY2J5LrIdA9Wd6yg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
    var game = engineGame({book: src="{{ url_for('static', filename='book.bin') }}"});
    var engine = new Worker(src="{{ url_for('static', filename='stockfish.js') }}");

    function newGame() {
      var baseTime = parseFloat($('#timeBase').val()) * 60;
      var inc = parseFloat($('#timeInc').val());
      var skill = parseInt($('#skillLevel').val());
      if (!(baseTime > 0)) {
        alert.message("Please Select Skill Level & Time");
        }
      if (!(skill => 0)) {
        alert.message("Please Select Skill Level & Time");
      }

      game.reset();
      game.setTime(baseTime, inc);
      game.setSkillLevel(skill);
      game.setPlayerColor($('#color-white').hasClass('active') ? 'white' : 'black');
      game.setDisplayScore($('#showScore').is(':checked'));
      game.start();
    }

    newGame();

  
    function pgncontent() {
        var pgnx = document.getElementById("pgn").innerHTML;
        document.getElementById("pgnexport").value = pgnx;
        var pgny = document.getElementById("pgnexport").value;
        console.log(pgny);
        return pgnx;
    }
  </script>
></body>
</html>
{% endblock %}
