{% extends "layout.html" %}

{% block title %}
   Simulate
{% endblock %}

{% block main %}
<!-- Simulates a game from an inputted PGN: a kind of record of the chess game in a certain notation-->
<div class="row">
    <div id="myBoard" style="width: 400px"></div>
    <a class="nav-link">Current PGN:  <i>{{ pgn }}</i></a></li>
    <div id="engineStatus">...</div>
    <div id="pgn"></div>
        <div class="form-group">
            <label for="showScore">Show score</label>
            <div>
        
    <script type="text/javascript" src="{{ url_for('static', filename='simulate.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>       
    <script id="19" type="text/javascript">
        var pgn1 = '{{ pgn }}'
        simulate(pgn1)
     </script>    
  </div>

  <div class="row">
      <form action="/simulate" method="post">
          <div class="mb-3">
              <input autocomplete="off" class="form-control mx-auto w-auto" name="pgn" placeholder="Enter PGN" type="test">
          </div>
          <button class="btn btn-secondary" type="submit">Simulate!</button>
      </form>
  </div>

</div> 

{% endblock %}
